/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 3rem;
    font-family: 'Bangers', cursive, 'Knewave', cursive;;
    font-size: 1rem;
    color: #095F9E;
    background-color: #FFD391;
    display: flex;
    flex-direction: column;
}

/* Layout (mostly CSS Grid) */

h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
}

li {
    display: inline-block;
}

main {
    margin-top: 2rem;
    display: none;
    grid-template: repeat(3, 15vh) / repeat(3, 15vh);
    gap: 1rem;
}

div.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left.top {
    grid-area: 1 / 1 / 2 / 2;
}

.left.mid {
    grid-area: 2 / 1 / 3 / 2;
}

.left.bot {
    grid-area: 3 / 1 / 4 / 2;
}

.center.top {
    grid-area: 1 / 2 / 2 / 3;
}

.center.mid {
    grid-area: 2 / 2 / 3 / 3;
}

.center.bot {
    grid-area: 3 / 2 / 4 / 3;
}

.right.top {
    grid-area: 1 / 3 / 2 / 4;
}

.right.mid {
    grid-area: 2 / 3 / 3 / 4;
}

.right.bot {
    grid-area: 3 / 3 / 4 / 4;
}

footer {
    margin-top: 2rem;
}

/* Game Field Styles */

div.box {
    background-color: #EBB86E;
    border: 1px solid #9E763A;
    display: flex;
    justify-content: center;
    align-content: center;
}

p.marked {
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 12vh;
}

div.box:hover {
    background-color: #9E763A;
    cursor: pointer;
}

p.marked:hover {
    color: #9E091D;
    cursor: pointer;
}